.filter-elements img {
	width: 20%;
	border: 1px solid black;
}

#canvas, #video {
	width: 100%;
}

#canvas {
	display: none;
}

.nonSelectionnable
{
	-moz-user-select: none; /* Firefox */
	-webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
	-ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
	user-select: none; /* Propriété standard */
}

.filter-edit {
	display: none;
	position: absolute;
	width: 100px;
	height: auto;
	cursor: all-scroll;
	border: 3px solid #4286f4;
}

.filter-edit img{
	display: block;
	width: 100%;
	height: 100%;
}

* {
	--size-block: 10px;
}

.filter-edit .block {
	width: var(--size-block);
	height: var(--size-block);
	position: absolute;
	border-radius: 50%;
	background-color: white;
	border: 3px solid #4286f4;
}

.canvas {
	position: relative;
}

.filter-edit button {
	position: absolute;
	width: 50px;
	height: 50px;
}

.filter-edit button:nth-of-type(1) {
	left: -20px;
	bottom: -55px;
}

.filter-edit button:nth-of-type(2) {
	right: -20px;
	bottom: -55px;
}

.filter-edit button:nth-of-type(3) {
	right: -100px;
	top: -20px;
}

.filter-edit button:nth-of-type(4) {
	right: -100px;
	bottom: -20px;
}
