.photoBox {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}

.imgContent img {
	display: block;
	width: 100%;
}

.pagination {
	display: flex;
	flex: row;
	justify-content: space-around;
	align-items: center;
}

.pagination a {
	text-decoration: none;
	color: black;
}

.pagination a p {
	font-size: 14px;
}

.pagination a b {
	font-size: 16px;
}

.imgContent {
	position: relative;
}

.like_comment img {
	height: 50px;
	width: 50px;
	cursor: pointer;
}

.like_comment {
	position: absolute;
	top: 50%;
	left: 50%;
	display: flex;
	color: white;
	transform: translate(-50%, -50%);
	background-color: rgba(255, 0, 0, 0.45);
	padding: 5px;
	border-radius: 5px;
	visibility: hidden;
}

.likeBox {
	display: flex;
	justify-content: center;
	align-items: center;
} 
